* {
    /*box-sizing: border-box;*/
    font-family:  "Lucida Bright", Georgia, serif;
    font-size: 1.2rem;
    color:white;
    
    
    
  }
body{
    background-image:  url("../img/bg.jpg");   
    background-repeat:no-repeat;
    background-position:center; 
    background-size: cover;
    padding: 5% 15%;    
    
}

.flex-column{
    border:1px solid;
    border-radius: 10px;
    width: 100%;
    max-height: 95vh; 
   
   
     
}
.form-group, .col{
    margin: 2%;
}


.btns {
    background-image: linear-gradient(to right,rgb(163, 32, 130),black, rgb(163, 32, 130));
    color:white;
}

.btnr {
    background-image: linear-gradient(to right, rgb(34, 230, 238),black,rgb(34, 230, 238));
    color:white;
}
