* {
    /*box-sizing: border-box;*/
    font-family:  "Lucida Bright", Georgia, serif;
    font-size: 1.9vw;
    color:white
    
    
  }
body{
    background-image:  url("../img/bg.jpg");
    padding: 10%;

}



.flex-column{
    border:1px solid;
    border-radius: 10px;
    width: 100%;
   
     
}
.form-group, .col{
    margin: 1.5%;
}


.btns {
    background-image: linear-gradient(to right,rgb(163, 32, 130),black, rgb(163, 32, 130));
    color:white;
}

.btnr {
    background-image: linear-gradient(to right, rgb(34, 230, 238),black,rgb(34, 230, 238));
    color:white;
}
