* {
    font-family: sans-serif;
    font-size: 1.5vw;
    color: #FFF;
    border: 4px solid red;
    text-align: center;  
    margin:auto;
    padding: auto;  
    width: 100%;

  }

  header {
    /*background-image: linear-gradient(to right,black,  rgb(2, 19, 7),black);*/
    text-align: center;  
   
    
  }
  
  body{
    background-image:  url("../img/bg.jpg");
   
    border: 4px solid blue;
    
  }
 
  article>p{
    font-size: 0.8em ;

  }
  
  nav {
    border: 2px solid yellow;
      
  }
  .navlis {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    width: 80%;
    border: 2px solid rgb(15, 204, 218);
    
  }
  
  .navlis li {
    
    list-style-type: none;
    width: 30%;
    border: 2px solid white;
  }
  
  .navlis li a {
    text-decoration: none;
    display: block;
    border: 2px solid green;
    
   
  }
  
  .navlis li a:hover{
    color: rgba(98, 15, 194, 0.979);
    text-decoration: underline;
    font-size: 1.2em;
  }
  
  .navlis li a:active{
    color: rgba(98, 15, 194, 0.979);
    font-weight: bold;
  }
  
  .navlis li a:focus{
    color: rgba(98, 15, 194, 0.979);
    text-decoration: underline;
  
  }

  section{
    width: 50%;
    
  }
  
  .projects{
    border: 4px solid rgb(0, 255, 157);
    
  }

  .slider {

    overflow: hidden;
   
  }
  

  .slides {
    
    display: flex;
    overflow-x: auto;
    
    scroll-snap-type: x mandatory;  

    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    box-shadow: 5px 10px 20px rgb(141, 4, 233);
    
  }

  .slides::-webkit-scrollbar {
    width: 1%;
    height: 3%;
  }
  .slides::-webkit-scrollbar-thumb {
    background: rgb(127, 99, 128);
    background-image: linear-gradient(to right,rgb(163, 32, 130),white, rgb(47, 34, 238));
    border-radius: 10px;
  }
  .slides::-webkit-scrollbar-track {
    background: transparent;
  }
  .slide {
    scroll-snap-align: start;

    flex-shrink: 0;
    height: 100%;
    
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    
  }

  .box {
   
    margin: auto;
    width:50%;
  }
  

  footer {
    
    /*background-image: linear-gradient(to right,black,  rgb(2, 19, 7),black);*/
    text-align: center;
    font-size: 0.8em;
    padding: 1%;
  }
  footer>p{
    background: inherit
    
  }