* {
    font-family:  "Lucida Bright", Georgia, serif;
    font-size: 1.5vw;
    color: #FFF;
    /*text-shadow: 2px 2px 2px rgb(255, 255, 255);*/
    border:1px solid blue;
    
    text-align: center;  
    margin:auto;
    padding: auto;  
    width: 100%;
   
  }

  header {
     
    position: relative;
    top: 0;
    
    
  }
  
  h1{
    text-align: left; 
    font-size: 2vw;
    padding: 1%;
  }

  
  body{
    background-image:  url("../img/bg3.jpg");
    background-repeat:no-repeat;
    background-position:center; 
    background-size: cover;
    
    position: relative;
    height: 230vh;
    
  }
 
  
  
  nav {
    
    display: flex;
    

  }
  .navlis {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: flex-start;
    
    align-content: flex-start;
    
    
    
    text-align: start;
    margin: 0;
    padding: 0;
  }
  
  .navlis li {
    display: inline-block;
    list-style-type: none;
    width: 30%;
    
    
  }
  
  .navlis li a {
    display: inline-block;
    text-decoration: none;
    display: block;
    background: linear-gradient(to right,rgb(163, 32, 130),white, rgb(47, 34, 238));
    text-transform: uppercase;
    -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
   
  }
  
  .navlis li a:hover{
    color: rgba(98, 15, 194, 0.979);
    text-decoration: underline;
    font-size: 1.2em;
  }
  
  .navlis li a:active{
    color: rgba(98, 15, 194, 0.979);
    font-weight: bold;
  }
  
  .navlis li a:focus{
    color: rgba(98, 15, 194, 0.979);
    text-decoration: underline;
  
  }

  section{
    width: 40%;
    
    display: flex;
  }

  section:hover{
    z-index: 11 !important;

  }
  .home{
    position: relative;
  }
  .about{
    background-image: linear-gradient(to right, rgb(34, 230, 238),black,rgb(34, 230, 238));
    left:10%;
    top:10%;
    position: absolute;
  }
  
  .box{
    display:flex;
    align-items: center;
    justify-content: center;
    height:60vh;
    
    z-index: 10;
    border:2px solid red;
  }
  
  #text1 span#b {
    display: block;
    font-size: 120%;
    
    
  }
  
  #text1:hover span#b {
    display: none;
    
  }
  
  #text1 span#a {
    display: none;
  }
  
  #text1:hover span#a {
    display: inline;
    
  }
  
 
  
  .projects{
    
    position: absolute;
    top:30%;
    left:30%;  
  }
  .contact{
    background-image: linear-gradient(to right,rgb(163, 32, 130),black, rgb(163, 32, 130));
    position: absolute;
    right:10%;
    top: 50%;
  }

  .slider {

   
    overflow: hidden;
   
  }
  .slider > a {
    display: inline-flex;
    width: 1em;
    
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    
  }
  .slider > a:active {
    font-weight: bold;
  }
  .slider > a:focus {
    background-image: linear-gradient(to right,rgb(163, 32, 130),black, rgb(47, 34, 238));
  }
  .slider > a:hover {
    background-image: linear-gradient(to right,rgb(163, 32, 130),black, rgb(47, 34, 238));
  }
 
  /* Don't need button navigation */
  @supports (scroll-snap-type) {
    .slider > a {
      display: none;
    }
  }

  .slides {
    
    display: flex;
    overflow-x: hidden;
    
    scroll-snap-type: x mandatory;  

    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
   
    box-shadow: 5px 10px 20px rgb(141, 4, 233);
    
    
  }

  /*.slides::-webkit-scrollbar {
    width: 1%;
    height: 3%;
  }
  .slides::-webkit-scrollbar-thumb {
    background: rgb(127, 99, 128);
    background-image: linear-gradient(to right,rgb(163, 32, 130),white, rgb(47, 34, 238));
    border-radius: 10px;
  }
  .slides::-webkit-scrollbar-track {
    background: transparent;
  }*/
  .slide {
    scroll-snap-align: start;

    flex-shrink: 0;
    
    
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;

    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  img{
    
    display: block;
    border:2px solid red;
    width: 100%;
    

  }
  

  footer {
    
    font-size: 0.8em;
    padding: 1%;
    position: absolute;
    bottom: 0;
    
    
    
  }
  

  @media (max-width: 476px) {
    body {
      
      margin:1%;
      width:98%
      
    }
    .flex-container {
      height:98%;
      width:99%;
      
      
    }
    .flex-container form{
      width: 100%;
      
     
    }
  }

  @media (max-width: 476px) {
    .box{
      height: 15vh;
    }
   
  }
  
  @media (min-width: 477px) and (max-width: 768px) {
   .box{
     height: 30vh;
   }
   
  }
  
  @media (min-width: 769px) {
    
    
  }